@charset "utf-8";

html{
  /* htmlタグに基準のfont-sizeを設定することで、remを使用できる。
  (このとき1rem = 10px)。なお、emや%は親要素に影響を受けてしまう。 */
  font-size: 10px;
  font-family: HGP創英角ﾎﾟｯﾌﾟ体,sans-serif;
  text-align: center;
  background-color: #eeeeee;
  /* --から始まるカスタムプロパティ。以降、var()で使用できる。 */
  --dbc-black: hsla(220, 13%, 18%,1);
  --dbc-yellow: hsla(60, 50%, 50%,1);
  --dbc-green:hsla(83, 62%, 45%,1);
  --dbc-blue:hsla(196, 88%, 67%,1);
}

body{
  /* ページ上部の空白を消す */
  margin: 0;
}

/* 画面の基本的な幅を設定 */
.wrap{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  height: 100%;
  position: relative;
}



/* header */
header{
  width: 100%;
  height: 55px;
  top: 0;
  background-color: var(--dbc-black);
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
}

.title-img{
  width: 160px;
  vertical-align: bottom;
}

#show{
  font-size: 25px;
  position: absolute;
  right: calc( (40% - 23px) / 2);
  color: #eeeeee;
  cursor: pointer;
}

/* menu */
.menu{
  position: fixed;
  top: 0;
  right: -40%;
  min-height: 100%;
  width: 40%;
  background-color:var(--dbc-yellow);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  transition: .4s;
  z-index: 2;
}

.menu-open > .menu{
  right: 0;
}

#hide{
  position: absolute;
  font-size: 30px;
  top: 12.5px;
  color: #eeeeee;
  cursor: pointer;
}

.menu-list{
  position: absolute;
  top: 55px;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  padding: 0;
}

.menu-text{
  color: black;
  font-size: 1.7rem;
  text-decoration: none;
}

.menu-sns{
  height: 180px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.menu-icon{
  width: 40px;
  height: 40px;
}

.cover{
  background: #000;
  opacity: 0.6;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  cursor: pointer;
  z-index: 2;
}



/* YouTube */
.movie-wrapper{
  margin-top: 55px;
  margin-bottom: 80px;
}

.movie{
  position: relative;
  width: 100%;
  padding-top: 56.25%;
}

iframe{
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
}



/* 更新情報 */
.contentbox{
  margin-top: 80px;
}

#title-new{
  font-size: 1.7rem;
  border-width:3px;
  margin-top: -55px;
  margin-bottom: 30px;
  padding-top: 65px;
}

.swiper-button-prev:after,.swiper-button-next:after{
  /* !importantでswiperの設定を上書きする */
  font-size: 25px !important;
  color: black;
}

.post{
  width: calc(65% - 20px) !important;
  height: 220px !important;
  margin: 0 17.5%;
  background-color: white;
  border-radius: 5px;
  padding: 10px;
}

.post-new{
  color:var(--dbc-green);
  font-size: 1.5rem;
  margin: 0;
  text-align: left;
}

/* 最初の子要素でなければ */
.post:not(:first-child)>.post-new{
  visibility:hidden;
}

.swiper-link{
  color: black;
}

.post-title{
  font-size: 1.5rem;
  font-weight: 600;
}

.post-content{
  font-size: 1.5rem;
  height: 70px !important;
  /* はみ出るときに改行 */
  word-wrap: break-word;
  overflow: hidden;
  /* 行の中央を基準に */
  vertical-align: middle;
}

.post-youtube{
  font-size: 1.3rem;
  color: hsla(327, 100%, 45%,1);
}

.post-blog{
  font-size: 1.3rem;
  color: var(--dbc-blue);
}

.post-news{
  font-size: 1.3rem;
  color: var(--dbc-yellow);
}

.post-time{
  color: #999999;
  font-size: 1.3rem;
  margin: 0;
}



/* 獨協大学放送研究会について */
#title-intro{
  font-size: 1.7rem;
  border-width:3px;
  margin-top: -55px;
  margin-bottom: 30px;
  padding-top: 65px;
}

.swiper-box{
  width: calc(75% - 20px) !important;
  margin: 0 12.5%;
  background-color: white;
  border-radius: 5px;
  padding: 10px;
}

.swiper-row{
  display: flex;
  /* スマホデザインでは画像が上、PCでは右になるので逆から描画 */
  flex-direction: column-reverse;
  align-items: center;
}

.poster{
  width: 40%;
}

.swiper-title{
  font-size: 1.7rem;
  margin-top: 0;
}

.swiper-green{
  color: var(--dbc-green);
  font-size: 1.7rem;
}

.swiper-row > div{
  position: relative;
}

.swiper-hidden{
  font-size: 1.5rem;
  height: 80px;
  overflow-y: hidden;
}

.swiper-show{
  font-size: 1.5rem;
  margin-bottom: 0;
}

.swiper-more{
  position: absolute;
  bottom:0;
	width:100%;
  text-align: center;
  /* linear-gradientでグラデーション */
  background: rgba(0, 0, 0, 0) linear-gradient(180deg, rgba(255, 255, 255, 0.5), white) repeat scroll 0 0;
  font-weight:bold;
	cursor:pointer;
}

.swiper-none{
  display: none;
}

.swiper-column{
  display: flex;
  flex-direction: column;
}

.swiper-column > p{
  font-size: 1.5rem;
  margin: 0;
}

.swiper-production{
  width: 100%;
  margin: 0 auto 3vw;
}



/* 活動報告  */
#title-collabo{
  font-size: 1.7rem;
  border-width:3px;
  margin-top: -55px;
  margin-bottom: 30px;
  padding-top: 65px;
}

.collabo-title{
  font-size: 1.7rem;
  margin: 0;
}

.collabo-slash{
  font-size: 1.7rem;
  margin: 0 10px;
  display: none;
}

.collabo-time{
  font-size: 1.5rem;
  margin: 0;
  color: var(--dbc-green);
  font-style: italic;
}

.collabo-text{
  font-size: 1.5rem;
  margin: 20px 0 40px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.collabo-text:last-child{
  margin-bottom: 0;
}

.collabo-text > p{
  margin: 0 10px 0 0;
}

.collabo-icon{
  width: 40px;
  vertical-align: bottom;
}



/* ギャラリー */
#title-gallery{
  font-size: 1.7rem;
  border-width:3px;
  margin-top: -55px;
  margin-bottom: 30px;
  padding-top: 65px;
}

.gallery-main{
  width: 75%;
}

.gallery-sub{
  width: 80%;
  cursor: pointer;
}



/* リンク */
#title-link{
  font-size: 1.7rem;
  border-width:3px;
  margin-top: -55px;
  margin-bottom: 30px;
  padding-top: 65px;
}

.link-box{
  margin-bottom: 40px;
}

.link-title{
  font-size: 1.7rem;
}

.link-content{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.link-text{
  font-size: 1.5rem;
  margin-right: 20px;
}

.link-contact{
  font-size: 1.5rem;
}

.blog-icon{
  width: 40px;
  height: 40px;
  vertical-align: bottom;
}

.link-content + iframe{
  width: 60% !important;
  height: 350px !important;
}



/* 管理者ログイン */
#title-login{
  margin-bottom: 20px;
}



/* footer */
footer{
  width: 100%;
  height: 50px;
  background-color: var(--dbc-black);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: auto;
  z-index: 2;
}

.title-bw{
  width: 100px;
  vertical-align: bottom;
  /* 彩度で白黒 */
  filter: saturate(0%);
}

.copyright{
  font-size: 1rem;
  margin-top: 3px;
  margin-bottom: 0;
  color: white;
}



/* post page */
.postpage-top{
  width: 80%;
  margin: 55px auto 0;
  align-items: center;
}

.postpage{
  margin: auto;
  align-items: center;
  border-top: solid;
  border-width: 1px;
  border-color: #aaaaaa;
}

.postpage:first-child{
  border-top: hidden;
}

.postpage:not(:first-child)>.postpage-new{
  visibility: hidden;
}

.postpage-title{
  font-size: 1.7rem;
  margin-bottom: 40px;
}

.postpage-content{
  font-size: 1.5rem;
  margin-bottom: 80px;
  text-align: left;
}

.postpage-span{
  margin-left: 10px;
  color: #6b6b6b;
}

.postpage-youtube{
  width: 40px;
  vertical-align: bottom;
}

.postpage-blog{
  width: 40px;
  height: 40px;
  vertical-align: bottom;
}

.postpage-time{
  font-size: 1.5rem;
  margin-bottom: 50px;
}

.postpage-pagination{
  margin: 0 auto 50px;
  display: flex;
  justify-content: center;
  font-size: 1.7rem;
}

/* 指定した子要素の数のときにスタイリング */
.postpage-pagination > a:first-of-type:nth-last-child(3),
.postpage-pagination > a:first-of-type:nth-last-child(3) ~ a{
  margin: 30px;
}

.postpage-pagination > a:first-of-type:nth-last-child(4),
.postpage-pagination > a:first-of-type:nth-last-child(4) ~ a{
  margin: 25px;
}

.postpage-pagination > a:first-of-type:nth-last-child(5),
.postpage-pagination > a:first-of-type:nth-last-child(5) ~ a{
  margin: 20px;
}

.postpage-pagination > a:first-of-type:nth-last-child(6),
.postpage-pagination > a:first-of-type:nth-last-child(6) ~ a{
  margin: 15px;
}

.postpage-pagination > a:first-of-type:nth-last-child(7),
.postpage-pagination > a:first-of-type:nth-last-child(7) ~ a{
  margin: 8px;
}

.postpage-pagination > a:first-of-type:nth-last-child(8),
.postpage-pagination > a:first-of-type:nth-last-child(8) ~ a{
  margin: 5px;
}

.postpage-pagination > a:first-of-type:nth-last-child(9),
.postpage-pagination > a:first-of-type:nth-last-child(9) ~ a{
  margin: 3px;
}

.postpage-button{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: white;
  border: 1px solid black;
  color: black;
  text-decoration: none;
  text-align: center;
  line-height: 30px;
}

.postpage-button:hover{
  background-color: #aaaaaa;
}

.postpage-pagination > .postpage-now{
  background-color: #aaaaaa;
}



/* form page */
.form-top{
  margin-top: 55px;
}

.form-title{
  font-size: 1.7rem;
}

.form-content{
  margin-top: 30px;
}

.form-head{
  font-size: 1.5rem;
}

.form-input{
  width: 80%;
  height: 30px;
  font-size: 1.5rem;
}

.form-textarea{
  width: 80%;
  height: 120px;
  font-size: 1.5rem;
}

.form-post{
  font-size: 1.5rem;
  font-weight: 600;
  width: 80%;
  height: 40px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.form-file{
  font-size: 1.5rem;
  margin-top: 30px;
}

.form-check{
  padding: 0;
}

.form-list{
  list-style: none;
}

.form-delete{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.form-text{
  font-size: 1.5rem;
}

.form-text:first-child{
  margin-right: 10px;
}



/* login page */
.login-wrapper{
  height: calc(100vh - 55px - 50px);
  margin-top: 55px;
  background-size: auto 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login{
  width: 80%;
  border-radius: 5px;
  padding: 10px;
  margin: 0 auto;
  background-color: white;
}

.login-title{
  font-size: 1.7rem;
}

.login-content{
  margin-top: 20px;
}

.login-head{
  font-size: 1.5rem;
}

.login-input{
  font-size: 1.5rem;
  width: 80%;
  height: 25px;
}

.login-button{
  width: 50%;
  height: 35px;
  margin-top: 40px;
  font-size: 1.5rem;
  font-weight: 600;
}



/* logout page */
.logout{
  height: calc(100vh - 55px - 70px);
  margin-top: 55px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logout-title{
  font-size: 1.7rem;
  margin: 0;
}

.logout-error{
  color: #ff0000;
  font-size: 1.5rem;
  margin-top: 50px;
}

.logout-text{
  font-size: 1.5rem;
  margin-top: 50px;
  color: black;
}



/* pc view */
@media screen and (min-width: 768px){
  html{
    font-size: 70%;
  }

  /* header */
  header{
    height: 95px;
  }

  .title-img{
    width: 250px;
  }

  #show{
    font-size: 35px;
    right: 136px;
  }
  
  /* menu */
  .menu{
    right: -307px;
    width: 307px;
  }
  
  #hide{
    font-size: 40px;
    top: 27.5px;
  }

  .menu-list{
    top: 95px;
    height: 472.8px;
  }

  .menu-sns{
    width: 161.27px;
    height: 40px;
    flex-direction: row;
  }

  .menu-icon{
    width: 40px;
    height: 40px;
  }

  

  /* YouTube */
  .movie-wrapper{
    height: calc(100vh - 95px);
    width: 768px;
    max-width: 100%;
    margin: 95px auto 0;
    background-size: auto 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }



  /* 更新情報 */
  .contentbox{
    margin-top: 120px;
  }

  #title-new{
    margin-top: -115.2px;
    margin-bottom: 38.4px;
    padding-top: 115.2px;
  }

  .swiper1 {
    width: 768px;
  }

  .post{
    width: 200px !important;
    height: 300px !important;
    margin: 0 18px;
  }

  .post-content{
    height: 120px !important;
  }

  .post-time{
    height: 15.36px;
  }



  /* 獨協大学放送研究会について */
  #title-intro{
    margin-top: -115.2px;
    margin-bottom: 38.4px;
    padding-top: 115.2px;
  }

  .swiper2{
    width: 768px;
  }

  .swiper-box{
    width: 668px !important;
    margin: 0 40px;
  }

  .swiper-button-prev:after,.swiper-button-next:after{
    width: 80px !important;
  }

  .swiper-row{
    display: flex;
    flex-direction: row;
  }

  .poster{
    width: 230.391px;
    height: 273.625px;
    margin: auto 0 auto 23.04px;
  }

  .swiper-title{
    margin-bottom: 38.4px;
  }

  .swiper-row{
    width: 691.188px;
    margin: auto;
  }

  .swiper-hidden{
    height: 300px;
    overflow-y: visible;
  }

  .swiper-more{
    display: none;
  }

  .swiper-production{
    width: 460.797px;
    margin: 0 auto 23.04px;
  }



  /* 活動報告  */
  #title-collabo{
    margin-top: -115.2px;
    margin-bottom: 38.4px;
    padding-top: 115.2px;
  }

  .collabo-head{
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .collabo-slash{
    display: block;
  }

  .collabo-time{
    font-size: 1.7rem;
  }

  .collabo-text > p{
    margin-right: 50px;
  }

  .collabo-icon{
    width: 50px;
  }
  
  
  
  /* ギャラリー */
  #title-gallery{
    margin-top: -115.2px;
    margin-bottom: 38.4px;
    padding-top: 115.2px;
  }
  
  .swiper3{
    width: 768px;
  }
  
  .gallery-main{
    width: 576px;
  }
  
  .gallery-sub{
    width: 154px;
  }
  
  .slide-sub{
    width: 768px;
  }
  
  
  
  /* リンク */
  #title-link{
    margin-top: -115.2px;
    margin-bottom: 38.4px;
    padding-top: 115.2px;
  }

  .link-box{
    margin-bottom: 60px;
  }

  .blog-icon{
    width: 50px;
    height: 50px;
  }

  .link-content + iframe{
    width: 460.8px !important;
    height: 500px !important;
    margin-top: 23.04px !important;
  }
  
  
  
  /* 管理者ログイン */
  #title-login{
    margin-bottom: 40px;
  }
  
  

  /* footer */
  footer{
    height: 70px;
  }

  .title-bw{
    width: 150px;
  }

  .copyright{
    margin-top: 5px;
  }



  /* post page */
  .postpage-top{
    width: 80%;
    margin-top: 95px;
  }

  .postpage{
    width: 614.39px;
    margin-bottom: 80px;
  }

  .postpage-title{
    margin-bottom: 50px;
  }

  .postpage-content{
    margin: 50px auto 100px;
  }

  .postpage-youtube{
    width: 50px;
  }

  .postpage-blog{
    width: 50px;
    height: 50px;
  }

  .postpage-time{
    margin-bottom: 50px;
  }

  .postpage-pagination > a:first-of-type:nth-last-child(3),
  .postpage-pagination > a:first-of-type:nth-last-child(3) ~ a{
    margin: 40px;
  }

  .postpage-pagination > a:first-of-type:nth-last-child(4),
  .postpage-pagination > a:first-of-type:nth-last-child(4) ~ a{
    margin: 35px;
  }
  
  .postpage-pagination > a:first-of-type:nth-last-child(5),
  .postpage-pagination > a:first-of-type:nth-last-child(5) ~ a{
    margin: 30px;
  }
  
  .postpage-pagination > a:first-of-type:nth-last-child(6),
  .postpage-pagination > a:first-of-type:nth-last-child(6) ~ a{
    margin: 25px;
  }
  
  .postpage-pagination > a:first-of-type:nth-last-child(7),
  .postpage-pagination > a:first-of-type:nth-last-child(7) ~ a{
    margin: 20px;
  }
  
  .postpage-pagination > a:first-of-type:nth-last-child(8),
  .postpage-pagination > a:first-of-type:nth-last-child(8) ~ a{
    margin: 15px;
  }
  
  .postpage-pagination > a:first-of-type:nth-last-child(9),
  .postpage-pagination > a:first-of-type:nth-last-child(9) ~ a{
    margin: 13px;
  }
  
  .postpage-button{
    width: 35px;
    height: 35px;
    line-height: 33px;
  }



  /* form page */
  .form-top{
    margin-top: 95px;
  }

  .form-input{
    width: 468.8px;
  }

  .form-textarea{
    width: 466.8px;
    height: 159.59px;
  }

  .form-post{
    width: 159.578px;
  }

  .form-keep{
    margin-top: 38.4px;
  }


  /* member page */
  .login-wrapper{
    height: calc(100vh - 95px - 70px);
    margin-top: 95px;
  }

  .login-error{
    margin-bottom: 40px;
  }

  .login{
    width: 614.391px;
  }

  .login-content{
    margin-top: 40px;
  }

  .login-input{
    width: 350px;
  }

  .login-button{
    width: 100px;
    font-weight: 400;
    margin-top: 40px;
  }



  /* logout page */
  .logout{
    height: calc(100vh - 95px - 70px);
    margin-top: 95px;
  }

  .logout-error{
    margin-top: 50px;
  }

  .logout-text{
    margin-top: 50px;
  }
}